*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
     background: #E3E6F3; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
 z-index: 99; 
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    transition: .5s ease;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: .3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
content: "";
width: 30%;
height: 2px;
background: #088178;
position: absolute;
bottom: -4px;
left: 20px;
}
.mobile,#close{
    display: none;
}
#hero{
    background-image: url("img/hero4.png");
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0px 80px;
    display: flex;
     flex-direction: column; 
    align-items: flex-start;
    justify-content: center;
}
 #hero h4{
    padding-bottom: 15px;
    font-size: 20px;
}
#hero h1{
    padding-bottom: 15px;
    color: #088178;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 3px;
}
#hero h2{
    font-size: 35px;
    letter-spacing: 2px;
    word-spacing: 2.5px;
}
#hero p{
    color: gray;
    padding-bottom: 15px;
}
#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #088178;
    border: none;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
} 
#feature{
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
     flex-wrap: wrap; 
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 15px 0;
}
.fe-box h6{
 display: inline-block;  
    font-size: 16px;
    padding: 9px 8px 6px 8px;
    color: #088178;
    border-radius: 6px;
    background-color: #fddde4;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
.fe-box:nth-child(2) h6{
    background-color:#cdebbc ;
}
.fe-box:nth-child(3) h6{
    background-color:#d1e8f2 ;
}
.fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
.fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
.fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}
#product1{
    padding: 40px 80px;
    text-align: center;
}
#product1 h2{
    font-size: 40px;
    letter-spacing: 2px;
    word-spacing: 2.5px;
    padding-bottom: 15px;
}
#product1 p{
    color: gray;
    padding-bottom: 15px;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: .5s ease;
    position: relative;
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.10); 
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #606063;
    font-size: 13px;
}
#product1 .pro .des h5{
    color: #1a1a1a;
    font-size: 14px;
    padding-top: 7px;
}
#product1 .pro .star{
    color: rgb(252, 192, 42);
    text-align: start;
    font-size: 14px;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background:#e8f6ea;
    font-weight: 500;
    color: #088178;
    font-size: 23px;
    padding: 9px 5px;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#banner h2{
    font-size: 30px;
    color: white;
    padding: 10px 0px;
}
#banner h4{
    font-size: 15px;
    color: white;
}
#banner{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner span{
    font-size: 40px;
    color: #ef3636;
}
#banner button{
    font-size: 14px;
    color: black;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.2s ease;
}
#banner button:hover{
    background-color: #088178;
    color: white;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 80px;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(img/banner/b17.jpg);
    min-width: 580px;
    height: 50vh;
    padding: 30px;
    background-size: cover;
    background-position: center;
}
#sm-banner h4{
color: white;
font-size: 20px;
font-weight: 300;
}
#sm-banner h2{
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 800;
}
#sm-banner p{
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner button{
    font-size: 13px;
    color: white;
    font-weight: 600;
    padding: 11px 18px;
    background-color: transparent;
    cursor: pointer;
    border:1px solid white ;
    outline: none;
    transition: 0.2s ease;
}
#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}
#sm-banner .banner-box:nth-child(2){
    background-image: url(img/banner/b10.jpg);
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(img/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    padding: 20px;
    background-size: cover;
    background-position: center; 
    margin-bottom: 20px;
}
#banner3{
    padding: 40px 80px;
}
#banner3 h2{
    color: white;
    font-size: 22px;
    font-weight: 900;
}
#banner3 h3{
    color: #f53b34;
    font-size: 15px;
    font-weight: 800;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#banner3 .banner-box:nth-child(2){
    background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box:nth-child(3){
    background-image: url(img/banner/b18.jpg);
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.jpg");
    background-position: 20% 30%;
    background-repeat: no-repeat;
    background-color:#041e42;
    margin: 20px 0px;
    padding: 80px;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
    padding-bottom: 15px;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter span{
    color: #ffbd27;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    font-size: 14px;
    color: white;
    font-weight: 600;
    padding: 15px 30px;
    background-color:#088178;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.2s ease;
    white-space:nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .form{
    display: flex;
    width: 40%;
}
footer{
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer p{
    color: gray;
    margin: 0 0 8px 0;
    font-size: 14px;
}
footer .col a{
    margin-bottom: 10px;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    color: #414141;
}
footer p strong{
    color: #1a1a1a;
    font-size: 16px;
}
footer h4{
font-size: 18px;
padding-bottom: 20px;
}
footer i:hover,footer .col a:hover{
color: #088178;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
 footer .copyright{
     width: 100%;
    text-align: center;
}
.logo{
    margin-bottom: 30px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    font-size: 20px;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
border: 1px solid #088178;
border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
/* shop */
#page-header{
    background-image: url('img/banner/b1.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2{
    font-size: 50px;
    color: white;
}
#page-header p{
    font-size: 14px;
    color: white;
    padding-top: 10px;
}
#pagination{
    padding: 40px 80px;
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}
#pagination a i{
    font-size: 20px;
    font-weight: 600;
}
#pro-details{
    padding: 40px 80px;
}
#pro-details .single-pro-img{
     width: 40%; 
margin-right: 50px;
}
.sm-img-grp{
    display: flex;
    justify-content: space-between; 
} 
.sm-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#pro-details{
    display: flex;
    margin-top: 20px;
}
#pro-details .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#pro-details .single-pro-details h6{
    font-size: 13px;
    color: #1a1a1a;
}
#pro-details .single-pro-details h4{
    padding: 40px 0 20px 0;
    font-size: 20px;
}
#pro-details .single-pro-details h2{
    padding: 40px 0 20px 0;
    font-size: 27px;
}
#pro-details .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#pro-details .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}
#pro-details .single-pro-details input:focus{
    outline: none;
}
#pro-details .single-pro-details button{
background: #088178;
color: white;
padding: 16px 26px;
border-radius: 4px;
border: none;
cursor: pointer;
}
#pro-details .single-pro-details button:hover{
    background-color: white;
    color: #088178;
    border: 1px solid #088178;
}
#pro-details .single-pro-details span{
    line-height: 25px;
    font-size: 15px;
    color: #414141;
}
/* blog */
#page-header.blog-header{
    background-image: url(img/banner/b19.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#blog{
    padding: 150px 150px 0px 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 13px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: .6s;
}
#blog .blog-details a::after{
    content: '';
    display: inline-block;
    width: 50px;
    height: 1.9px;
    background-color: black;
    position: absolute;
    top: 5px;
    right: -60px;
}
#blog .blog-details h4{
    font-size: 23px;
    color: #1a1a1a;
    text-transform: capitalize;
    padding-bottom: 20px;
}
#blog .blog-details p{
    font-size: 15px;
    color: grey;
    padding-bottom: 15px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}
#blog .blog-box h1 {
    font-size: 70px;
    letter-spacing: 3px;
    position: absolute;
    top: -51px;
    left: 0;
    font-weight: 700;
    color: #c9cbce;
    z-index: -8;
}
/* about */
#page-header.about-header{
    background-image: url(img/about/banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    text-transform: capitalize;
}
#about-head img{
width: 50%;
height: auto;
}
#about-head{
    display: flex;
    align-items: center;
    padding: 40px 80px;
}
#about-head div{
    padding-left: 40px;
}
#about-head h2{
    font-size: 40px;
    color: #1a1a1a;
    text-transform: capitalize;
    padding-top: 15px;
}
#about-head p{
    font-size: 14px;
    color: #414141;
    text-transform: capitalize;
    line-height: 23px;
    padding-top: 10px;
}
#about-head abbr{
    font-size: 13px;
    color: #1a1a1a;
    text-transform: capitalize;
    padding-top: 15px;
}
#about-app{
 text-align: center; 
}
#about-app h1{
    font-size: 52px;
    text-transform: capitalize;
}
#about-app .video video{
    width: 70%;
    height: 100%;
     margin-top: 30px; 
}
/* contact */